<section class="section">
    <div class="container">
        <h1 class="title">Data Unique Visitors</h1>
        <div class="field">
            <label class="label">Daftar Proyek</label>
            <div class="control">
                <div class="select">
                    <select id="hostname-filter" required>
                        <option value="all">Semua</option>
                        <!-- Options akan diisi melalui JavaScript -->
                    </select>
                </div>
            </div>
        </div>
        <div id="tombol">
            <button class="tombol-tracker button is-primary" data-range="last_day">Last Day</button>
            <button class="tombol-tracker button is-primary" data-range="last_week">Last Week</button>
            <button class="tombol-tracker button is-primary" data-range="last_month">Last Month</button>
            <button class="tombol-tracker button is-primary" data-range="all_time">All Time</button>
        </div>
        <canvas id="pengunjungChart" width="400" height="200"></canvas>
    </div>
</section>