<section class="section">
    <div class="container">
        <h1 class="title">Tugas Mingguan</h1>
            <div class="field">
                <label class="label">Daftar Proyek</label>
                <div class="control">
                    <div class="select">
                        <select id="project-name" name="projectName" required>
                            <!-- Options akan diisi melalui JavaScript -->
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Daftar Tugas</label>
                <div class="control">
                    <div class="select">
                        <select id="tugas-name" name="tugasName" required>
                            <option value="xxxxxxxxxx">Tugas Minggu ini</option>
                            <!-- Options akan diisi melalui JavaScript -->
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Status Tugas</label>
                <div class="control">
                    <span id="status-Tugas"></span>
                </div>
            </div>

            <div class="table-container">
                <table class="table is-bordered is-striped">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Kegiatan</th>
                      <th>Kuantitas</th>
                      <th>Poin</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>1</td><td>Data Sponsor</td><td>0</td><td>0</td></tr>
                    <tr><td>2</td><td>Strava</td><td>0</td><td>0</td></tr>
                    <tr><td>3</td><td>Test IQ</td><td>0</td><td>0</td></tr>
                    <tr><td>4</td><td>Pomokit</td><td>0</td><td>0</td></tr>
                    <tr><td>5</td><td>Blockchain MBC</td><td>0</td><td>0</td></tr>
                    <tr><td>6</td><td>QRIS</td><td>0</td><td>0</td></tr>
                    <tr><td>7</td><td>Web Tracker</td><td>0</td><td>0</td></tr>
                    <tr><td>8</td><td>Buku</td><td>0</td><td>0</td></tr>
                    <tr><td>9</td><td>Jurnal</td><td>0</td><td>0</td></tr>
                    <tr><td>10</td><td>GTMetrix</td><td>0</td><td>0</td></tr>
                    <tr><td>11</td><td>WebHook</td><td>0</td><td>0</td></tr>
                    <tr><td>12</td><td>Presensi</td><td>0</td><td>0</td></tr>
                    <tr><td>13</td><td>Blockchain RVN</td><td>0</td><td>0</td></tr>
                  </tbody>
                </table>
            </div>
              

            <div class="field">
                <label class="label">Nomor Telepon Dosen</label>
                <div class="control">
                    <input class="input" type="tel" id="phonenumber" name="phonenumber" placeholder="628111" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit" id="tombolmintaapproval" enabled>Minta Approval</button>
                </div>
            </div>
    </div>
</section>
